{:source-paths ["src/cljs"]
 :dependencies []
 :dev-http {3010 "resources/public/cljs/"}
 :builds {:app {:output-dir "resources/public/cljs/"
                :asset-path "."
                :target :browser
                :modules {:shared {:entries []}
                          :tasks {:entries [todefer.tasks]
                                  :depends-on #{:shared}}
                          :habits {:entries [todefer.habits]
                                   :depends-on #{:shared}}
                          :todo {:entries [todefer.todo]
                                   :depends-on #{:shared}}}}}}
