{:credentials/db {:file-path "/var/todefer/env.edn"}

 :db.sql/connection {:db-credentials #ig/ref :credentials/db}
 
 :todefer/queries {:database #ig/ref :db.sql/connection}

 :migratus/config (:database #ig/ref :db.sql/connection)}
