body{
    margin:0 auto;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0;
}

h1,h2,h3{
    line-height:1.2
}

.width {
    max-width:1000px;
    margin: 0 auto;
}

#navbar {
    top: 0;
    left: 0;
    right: 0;
    padding: 8px;
    color: black;
    text-decoration: none;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar li {
    display: inline; /* Display list items inline for full-size screens */
}

/* Responsive styles specific to navbar */
@media (max-width: 600px) {
    #navbar li {
        display: block; /* Stack list items vertically on small screens */
    }
}

#navbar a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
}

#navbar a:hover {
    background-color: #cbcbcb;
}

.hero-header {
    width: 100%;
    background-color: #f2f2f2;
    padding: 0;
}

#topbar {
    background-color: #d9d9d9;
}

#actionbar {
    background-color: #e8e8e8;
    padding: 2px 0;
}

table {
    border-collapse:collapse
}

table, td {
    border: none;
}

td {
    padding: 3px 10px;
}

tr {
    border-bottom: 2px solid #ccc;
}

/* Style the button that is used to open and close the collapsible content */
 .collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.collapsiblecontent {
  padding: 1em 1em;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.t-container {
  display: flex; /* Establishes a flex container */
  justify-content: space-between; /* Distributes space between the children */
  align-items: center; /* Aligns children vertically in the middle */
}

.flex-input {
  flex-grow: 1; /* Allows the input to grow and fill the available space */
  margin-right: 10px; /* Adds some space between the input and the button */
}

button {
  white-space: nowrap; /* Prevents text wrapping inside the button */
}

.habit-info {
    float: right;
    font-size: smaller;
}
